{% extends 'base.html' %}
{% block body %}
<h3>Coach Schedule</h3>
{% for c in schedule %}
    <div class="card mb-3">
      <div class="card-header">
        <b>{{ c.name }}</b> {{ c.start_date }}~{{ c.end_date }} ({{ c.hours }} hours)
        <button class="btn btn-link" type="button"
                 onclick="this.parentNode.nextElementSibling.style.display =
                     this.parentNode.nextElementSibling.style.display==='block'?'none':'block';">Student Details</button>
      </div>
      <div class="card-body" style="display:none">
        <b>Location:</b> {{ c.location }}<br>
        <b>Course ID:</b> {{ c.course_id }}<br>
        <b>Available Slots:</b> {{ c.remain }}<br>
        <b>Student List:</b>
        <ul>
          {% for s in c.students %}
             <li>{{ s.last_name }}{{ s.first_name }} : {{ s.phone }}</li>
          {% else %}
             <li><i>No students enrolled yet</i></li>
          {% endfor %}
        </ul>
      </div>
    </div>
{% endfor %}
{% endblock %}