{% extends 'base.html' %}
{% block body %}
<h2 class="mb-3 text-center">Login to Your Account</h2>
<form method="post" class="w-25 mx-auto">
    <div class="mb-3">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control"/>
    </div>
    <div class="mb-3">
        <label for="role">Role</label>
        <select id="role" name="role" class="form-select">
            <option value="member">Member</option>
            <option value="coach">Coach</option>
            <option value="staff">Staff</option>
            <option value="admin">Admin</option>
        </select>
    </div>
    <button class="btn btn-primary w-100" type="submit">Login</button>
    <a href="{{ url_for('index') }}" class="btn btn-link w-100">Browse as Guest</a>
    <div class="mt-3 text-center">
        <span>Don't have an account yet?</span><br>
        <a href="{{ url_for('register') }}">Sign up now</a>
    </div>

    <div class="mt-5 text-center">
        <table class="table table-bordered" style="margin: 0 auto;">
            <thead><tr><th>Username</th><th>Password</th></tr></thead>
            <tbody>
                <tr><td>gym_0424之后:</td><td> </td></tr>
                <tr><td>admin:</td><td> </td></tr>
                <tr><td>clivingston</td><td>!c5gEgd6y5rm</td></tr>
                <tr><td>staff:</td><td> </td></tr>
                <tr><td>jadehughes</td><td>T61EHK^j^vwD</td></tr>
                <tr><td>coach:</td><td> </td></tr>
                <tr><td>lhumphrey</td><td>ZM6RbAKpA!nA</td></tr>
                <tr><td>mem:</td><td> </td></tr>
                <tr><td>karenellis</td><td>lx4G5Hw#u%*8</td></tr>
            </tbody>
        </table>
    </div>

    <div class="mt-5 text-center">
        <table class="table table-bordered" style="margin: 0 auto;">
            <thead><tr><th>Username</th><th>Password</th></tr></thead>
            <tbody>
                <tr><td>gym_0423之前:</td><td> </td></tr>
                <tr><td>admin</td><td>admin123</td></tr>
                <tr><td>staff1</td><td>staff123</td></tr>
                <tr><td>warehouse1</td><td>wh123</td></tr>
                <tr><td>coachA</td><td>coach123</td></tr>
                <tr><td>coachB</td><td>coach123</td></tr>
                <tr><td>coachC</td><td>coach123</td></tr>
                <tr><td>coachD</td><td>coach123</td></tr>
                <tr><td>coachE</td><td>coach123</td></tr>
                <tr><td>mem01</td><td>mem123</td></tr>
                <tr><td>mem02</td><td>mem123</td></tr>
                <tr><td>mem03</td><td>mem123</td></tr>
                <tr><td>mem04</td><td>mem123</td></tr>
                <tr><td>mem05</td><td>mem123</td></tr>
            </tbody>
        </table>
    </div>

</form>
{% endblock %}